@media screen and (max-width:576px) {
    
    body{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .nav-container {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border: 2px solid red;
    
    }
    .nav-btn{
        display: none;

    }
    .hamburger{
        display: block;
        color: white;
    }
    /* Banner style */
    .banner-container {
        flex-direction: column;
    
    }
   
}